/* header and nav layout */
nav {
    display: flex;
}

header .nav-wrapper {
    background-color: var(--background-color);
    width: 100%;
    z-index: 2;
    position: fixed;
}

header nav {
    box-sizing: border-box;

    /* display: grid; */
    grid-template:
        'hamburger brand tools' var(--nav-height)
        'sections sections sections' 1fr / auto 1fr auto;
    align-items: center;
    gap: 0 2em;
    margin: auto;
    height: var(--nav-height);
    padding: 0 1rem;
    font-family: var(--body-font-family);
}

header nav[aria-expanded='true'] {
    grid-template:
        'hamburger brand' var(--nav-height)
        'sections sections' 1fr
        'tools tools' var(--nav-height) / auto 1fr;
    overflow-y: auto;
    min-height: 100vh;
}

@media (width >= 600px) {
    header nav {
        padding-inline: 20px;
    }
}

@media (width >= 900px) {
    header nav {
        display: flex;
        justify-content: space-between;
    }

    header nav[aria-expanded='true'] {
        min-height: 0;
        overflow: visible;
    }
}

header nav p {
    margin: 0;
    line-height: 1;
}

header nav a:any-link {
    color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
    grid-area: hamburger;
    height: 22px;
    display: flex;
    align-items: center;
    transform: scale(0.8);
    font-size: var(--body-font-size-xxs);
}

header nav .nav-hamburger button {
    height: 22px;
    margin: 0;
    border: 0;
    border-radius: 0;
    padding: 0;
    background-color: var(--background-color);
    color: inherit;
    overflow: initial;
    text-overflow: initial;
    white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
    content: '';
    position: absolute;
    background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='false'] .nav-hamburger-icon::after {
    height: 2px;
    border-radius: 2px;
    background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before {
    top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
    top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
    height: 22px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
    top: 3px;
    left: 1px;
    transform: rotate(45deg);
    transform-origin: 2px 1px;
    width: 24px;
    height: 2px;
    border-radius: 2px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
    top: unset;
    bottom: 3px;
    transform: rotate(-45deg);
}

/* brand */
header .nav-brand {
    grid-area: brand;
    flex-basis: 128px;
    font-size: var(--heading-font-size-s);
    font-weight: 700;
    line-height: 1;
}

header nav .nav-brand img {
    width: 128px;
    height: auto;
}

/* sections */
header nav .nav-sections {
    grid-area: sections;
    flex: 1 1 auto;
    display: none;
    visibility: hidden;
    background-color: var(--overlay-color);
}

header nav[aria-expanded='true'] .nav-sections {
    display: block;
    visibility: visible;
    align-self: start;
}

nav .nav-hamburger {
    margin-top: auto;
    margin-bottom: auto;
}

header nav .nav-sections ul {
    list-style: none;
    padding-left: 0;
    font-size: var(--body-font-size-s);
    font-weight: 500;
}

header nav .nav-sections ul > li {
    font-weight: 700;
}

header nav .nav-sections ul > li > ul {
    margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
    font-weight: 500;
}

@media (width <= 900px) {
    header nav .nav-hamburger-text {
        display: none;
    }
}

header nav .nav-hamburger-text {
    font-size: var(--body-font-size-xs);
    margin-left: 20px;
}

header nav .default-content-wrapper {
    max-width: unset;
}

header nav .section .default-content-wrapper {
    display: flex;
    justify-content: space-between;

    /* width: 100%; */
}

header nav .section {
    display: flex;
    flex-grow: 1;
}

header nav .section .default-content-wrapper p {
    display: flex;
}

header nav .section .default-content-wrapper p:has(.icon-logo) {
    margin-left: auto;
    margin-right: auto;
    padding-right: 240px;
}

header nav .section .default-content-wrapper p .icon-logo {
    width: 80px;
    height: 80px;
    border-left: 0 !important;
    padding-inline: 0;
}

header nav .section p a {
    /* border-left: 1px solid #eaeaea; */
    /* margin-inline: 10px; */
}

@media (width >= 900px) {
    header nav .section .default-content-wrapper p .icon {
        /* padding-right: calc(180px); */
        padding-inline: 1px;
    }
}

header nav .section p > a:any-link {
    background-color: white;
    color: black;
    font-size: var(--heading-font-size-xxs);
    padding: 0;
    margin: 0;
    font-weight: 500;
    border-radius: 0;
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    justify-content: center;

    /* padding-inline: 10px; */
}

header nav .section p {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-inline: 10px; */
}

nav .default-content-wrapper.left-side .button-container:first-of-type a {
    border-left: 1px solid #eaeaea;
    padding-left: 10px;
}

header nav .section .default-content-wrapper.left-side {
    margin: 0;
    margin-right: auto;
    justify-content: start;
    gap: 20px;
}

nav .section > div {
    display: flex;

    /* justify-content: center; */
    flex: 2;
}

nav .logo {
    margin: 0;
    display: inline;
    flex: 1;
    justify-content: center;
}

nav .actions-list {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}

nav .actions-list > div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* gap: 25px; */
}

nav .actions-list > div img {
    border-left: 1px solid #eaeaea;
    padding-inline: 10px;
}

nav .actions-list > div img:first-child {
    border-left: 0;
}

@media (width < 1150px) {
    header nav .section .default-content-wrapper.left-side p {
        display: none;
    }
}

nav .logo img {
    height: 64px;
    width: 64px;
}

@media (width < 500px) {
    nav .actions-list > div > *:first-child {
        display: none;
    }
}

#nav-overlay-menu {
    display: block;
    width: 350px;
    height: calc(100vh - 64px);
    background-color: red;
    position: absolute;
    left: 0;
    top: 64px;
}

@media (width > 800px) {
    #nav-overlay-menu {
        width: 100%;
    }
}

nav[data-open='true'] #nav-overlay-menu {
    /* display: flex; */
}

nav[data-open='false'] #nav-overlay-menu {
    display: none;
}

#nav > div.section > div.default-content-wrapper.left-side > p:first-of-type {
    gap: 10px;
}
