.imagebg {
    position: relative;
}

.imagebg ul {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.imagebg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    inset: 0;
    opacity: 0.3;
    box-sizing: border-box;
    border: 1px solid #eaeaea;
}

.imagebg-content {
    flex-direction: column;
    box-sizing: border-box;
    text-align: center;
    height: 100%;
    overflow: hidden;
    padding-inline: 40px;
    display: flex;
    justify-content: center;
    z-index: 1;
    /* padding: 5px; */
}

.imagebg-content * {
    margin-left: auto;
    margin-right: auto;
    color: white;
    display: inline;

    /* margin: 10px; */
    padding: 0;
}

.block .imagebg > div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(50px, min-content);
}

.block.imagebg .bg {
    top: 0;
    position: absolute;
    /* align-self: stretch; */
    height: 100%;
    width: 100%;
}
