.section .splitview-wrapper {
	max-width: 100%;
}

.splitview > div {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.splitview > div > div {
	max-height: 100%;
}

.splitview img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	display: block;
}

.splitview.article {
	height: 500px;
}
.splitview.article .description {
	font-size: var(--body-font-size-s);
}

@media (width > 500px) {
	.splitview > div {
		flex-direction: row;
		width: 100%;
		height: unset;
		max-height: 600px;
	}
	.splitview.article {
		height: unset;
	}
	.splitview.article > div > div {
		min-height: 100%;
	}
	.splitview.article > div > div:nth-child(2) {
		padding-inline: 30px;
	}
	.splitview.article .description,
	.tag {
		padding-inline: 0 !important;
	}
	.splitview.article .description {
		font-size: revert;
	}
}

.splitview.article .description {
	padding-inline: 30px;
}

.splitview.article .tag {
	padding-inline: 30px;
}

.splitview.article > div > div:nth-child(2) {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(187, 174, 174, 1) 100%
	);
}
.splitview.article .tag {
	margin: 0;
}
.splitview.article.turqoise .tag a {
	color: turquoise;
	font-size: var(--body-font-size-xxs);
}

.splitview.article .description a {
	color: white;
	margin: 0;
}

.splitview .description {
	margin: 0;
	padding: 0;
}
